@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

/**! Custom **/
:root {
  --first-color: rgba(32, 32, 32, 1);
  --first-alpha-color: rgba(32, 32, 32, 0.75);
  --second-color: rgba(46, 204, 133, 1);
  --second-alpha-color: rgba(46, 204, 133, 0.75);
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --font: 'Rubik', sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}
/**! Custom **/

/**! Reset **/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font);
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}
 
h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}
/**! Reset **/

/**! Components **/

/** Hero Image **/
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 5.5vw;
  color: var(--hero-title-color);
}

/** Hero Image **/


/** Nav Menu **/
.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;


  background-color: var(--first-color);
}

.menu-btn svg {
  fill: var(--second-color);
  height: 2rem;
}

.menu {
  /* Fixed fija el contenido a las props indicadas */
  position: fixed;
  left: 0;
  bottom: var(--header-height); /* Misma altura que el header para que quede por debajo */
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  background-color: var(--first-color);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--second-color);
}

.menu a:hover {
  color: var(--first-color);
  background-color: var(--second-color);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
    
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:last-child {
    padding-right: 0;
  }

  .menu a:hover {
    color: var(--second-alpha-color);
    background-color: var(--first-color);
  }

}
/** Nav Menu **/

/** Modal **/
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--second-color);
}

.modal[id|="work"]:target {
  opacity: 1;
  pointer-events: all;
}

/** Modal **/




/** Progress Bar **/
progress {
  width: 100%;
  height: 1rem;
  background-color: var(--second-color);
}

progress::-webkit-progress-bar {
  background-color: grey;
}

progress::-webkit-progress-value {
  background-color: var(--second-color);
}

progress::-moz-progress-bar {
  background-color: var(--black-color);
}

.progress {
  margin: 1rem auto;
}

.progress > p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: .85rem;
}

/** Progress Bar **/

/**! Components **/


/**! Utilities **/

.bg-gray-light {
  background-color: var(--gray-light-color);
}


/** Buttons **/
.btn {
  border-radius: .5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
  background-color: var(--second-color);
}
/** Buttons **/

/** Container **/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}
/** Container **/

/** Gray Filter **/
.gray-scale {
  filter: grayscale(1);
}
/** Gray Filter **/

.none {
  display: none;
}

/** Section **/
.section {
  padding: 2rem 2rem;
}

.section-title {
  border-top: solid var(--second-color);
  border-bottom: solid var(--second-color);
  margin: 2rem auto;
  padding: .5rem 1rem;
  width: 250px;
  text-align: center;
  color: var(--title-color);
}


/** Section **/


/** Text Direction **/
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  /* Class para responsive full screen */
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }
  
  /* Se aplica a los elementos HTML para comportamiento de la @media */
  .text-lg-left {
    text-align: left;
  }
  
  .text-lg-center {
    text-align: center;
  }
  
  .text-lg-right {
    text-align: right;
  }
}
/** Text Direction **/



/**! Site Styles **/

/** Header **/
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;  /* Pone la cabecera por dentras de todos los contenidos en cuestion visual. */
  width: 100%;
  padding: 1rem;
  height: var(--header-height);
  background-color: var(--first-color);
}

/* El contenedor que es direct child del header */
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--second-color);
  font-size: 2rem;
  text-decoration: none;
}
/** Header **/

/** Portfolio **/
.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Evita que ciertas imagenes pierdan la proporcion de la img */

}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--second-alpha-color);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: all .6s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio-card-info > div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
}

/** Portfolio **/


/** Services **/
.service-card {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

.service-card svg {
  margin-bottom: .5rem;
  fill: var(--second-color);
}

.service-card h3 {
  color: var(--first-color);
  margin-bottom: 1rem;
}

/** Services **/

@media screen and (min-width: 768px){
  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .portfolio .section-title {
    grid-column: span 2;
  }
  
  
  .services > .container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }

  .services .section-title {
    grid-column: span 2;
  }




}

@media screen and (min-width: 1024px){
  /* About */
  .about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center;
  }
  
  /* Header */
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) -- .5rem);
  }

  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio .section-title {
    grid-column: span 3;
  }


  .services > .container {
    grid-template-columns: repeat(3, 30%);
  }

  .services .section-title {
    grid-column: span 3;
  }


}
/** Header **/

/** About **/
.about > article {
  margin-bottom: 2rem;
}

/** About **/
